.lr-can-rate .lr-star {
  cursor: pointer;
}
.lr-sprite {
  display: inline-block;
  background: url('../img/sprite.png');
}
.lr-sprite.lr-star {
  background-position: 0px 0px;
  /*&.lr-star-stroke{
			background-position: 0px -210px;
		}*/

}
.lr-sprite.lr-star.lr-star-shaded {
  background-position: 0px -150px;
}
.lr-sprite.lr-star.lr-star-large {
  background-position: 0px 0px;
  /*&.lr-star-stroke{
				background-position: 0px -210px;
			}*/

}
.lr-sprite.lr-star.lr-star-large.lr-star-shaded {
  background-position: 0px -150px;
}
.lr-sprite.lr-star.lr-star-medium {
  background-position: -32px 0px;
  /*&.lr-star-stroke{
				background-position: -32px -210px;
			}*/

}
.lr-sprite.lr-star.lr-star-medium.lr-star-shaded {
  background-position: -32px -150px;
}
.lr-sprite.lr-star.lr-star-small {
  background-position: -56px 0px;
  /*&.lr-star-stroke{
				background-position: -56px -210px;
			}*/

}
.lr-sprite.lr-star.lr-star-small.lr-star-shaded {
  background-position: -56px -150px;
}
.lr-sprite.lr-star-half {
  background-position: 0px -60px;
}
.lr-sprite.lr-star-half.lr-star-stroke {
  background-position: 0px -30px;
}
.lr-sprite.lr-star-half.lr-star-shaded {
  background-position: 0px -180px;
}
.lr-sprite.lr-star-half.lr-star-large {
  background-position: 0px -60px;
}
.lr-sprite.lr-star-half.lr-star-large.lr-star-shaded {
  background-position: 0px -180px;
}
.lr-sprite.lr-star-half.lr-star-large.lr-star-stroke {
  background-position: 0px -30px;
}
.lr-sprite.lr-star-half.lr-star-medium {
  background-position: -32px -60px;
}
.lr-sprite.lr-star-half.lr-star-medium.lr-star-shaded {
  background-position: -32px -180px;
}
.lr-sprite.lr-star-half.lr-star-medium.lr-star-stroke {
  background-position: -32px -30px;
}
.lr-sprite.lr-star-half.lr-star-small {
  background-position: -56px -60px;
}
.lr-sprite.lr-star-half.lr-star-small.lr-star-stroke {
  background-position: -56px -30px;
}
.lr-sprite.lr-star-half.lr-star-small.lr-star-shaded {
  background-position: -56px -180px;
}
.lr-sprite.lr-star-empty {
  background-position: 0px -120px;
}
.lr-sprite.lr-star-empty.lr-star-stroke {
  background-position: 0px -90px;
}
.lr-sprite.lr-star-empty.lr-star-large {
  background-position: 0px -120px;
}
.lr-sprite.lr-star-empty.lr-star-large.lr-star-stroke {
  background-position: 0px -90px;
}
.lr-sprite.lr-star-empty.lr-star-medium {
  background-position: -32px -120px;
}
.lr-sprite.lr-star-empty.lr-star-medium.lr-star-stroke {
  background-position: -32px -90px;
}
.lr-sprite.lr-star-empty.lr-star-small {
  background-position: -56px -120px;
}
.lr-sprite.lr-star-empty.lr-star-small.lr-star-stroke {
  background-position: -56px -90px;
}
.lr-sprite.lr-star-large {
  height: 30px;
  width: 32px;
}
.lr-sprite.lr-star-medium {
  height: 22px;
  width: 24px;
}
.lr-sprite.lr-star-small {
  height: 16px;
  width: 15px;
}
